body{
    background-color: darkgray;
}

.Tab{
    background-color: red;
    width: 100%;
    height: 25px;
}
.d1 {
    background-color:orangered; 
    width: 100%; 
    height: 150px;
}

.flex-wrapper {
    display: flex;
    background-color: white;
}
  
  .item {
    flex-grow: 3;
  }
  .right{
    flex-grow: 2;
  }


.bbbbb{
    background-color: white;
}
.bottom img{
    border-radius: 50%;
}


#part2{

    background-color: white;
}
