body{
    background-color: darkgray;
}

.Tab{
    background-color: red;
    width: 100%;
    height: 25px;
    margin: 0px auto
}
.d1 {
    background-color:orangered; 
    width: 100%; 
    height: 150px;
}

.part1{
    background-color: white;

}

#part1left{
    float: left;
    padding: 5px;
}
#partright{
    float: right;
}


#part1bottom img{
    border-radius: 50%;
    margin:0 auto;
}
#part2{

    background-color: white;
}
